body, html{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    height: 100%;
    background-color: honeydew;
}

#WebContainer{
    width: 100%;
    height: 100%;
}

#tcdLogo{
    width: 20%;
    top: 0px;
    margin-left: 10px;
    float: left;
    position: absolute;
}
#title{
    width: 40%;
    text-align: center;
    margin: auto;
    margin-top: 8px;
    font-size: 45px;
    font-family: Tahoma;
}

#start_button, #bot_button{
    width: 12%;
    height: 12%;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: darkslategrey; 
    float: left;
    margin-top: 100px;
    margin-left: 15%;
    position: absolute;
    font-size: 15px;
    font-family: Helvetica;
    color: white;
}

#a_button, #i_button{
    width: 12%;
    height: 12%;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color:darkslategrey; 
    margin-top: 100px;
    right: 15%;
    position: absolute;
    font-size: 15px;
    font-family: Helvetica;
    color: white;
}

#bot_button, #i_button{
    margin-top: 250px;
}


#start_button:hover, #bot_button:hover, #a_button:hover, #i_button:hover{
    cursor: pointer;
    font-style: italic;
}


#bot_frame{
    z-index: 1;
    width: 33%;
    height: 74%;
    background-color: #7B241C;
    margin-left: 33%;
    margin-top: 25px;
    border-radius: 10px;
    padding: 8px;
    position: absolute;
    -webkit-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
    box-shadow: -1px 5px 32px 10px rgba(0,0,0,0.2);
}
#bot_body{
    margin: auto;
    height: 85%;
    width: 96%;
    padding: 5px;
    border-radius: 5px;
    background-color: ghostwhite;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: auto;
}

#bot_body::-webkit-scrollbar{
    width: 10px;
}

#bot_body::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgba(0, 0, 0, .1);
}

#bot_body p{
    text-align: center;
}
#user_input{
    width: 100%;
    height: 10%;
    margin-top: 5px;
    margin-left: 2px;
    border-radius: 5px;
}
#user_input #input{
    outline: none;
    width: 85%;
    height: 75%;
    border-radius: 10px;
    border: none;
    margin-top: 5px;
    padding-left: 5px;
}
#user_input #send{
    width: 10%;
    height: 75%;
    border-radius: 8px;
    outline: none;
    margin-top: 5px;
    margin-left: 5px;
    border: none;
    font-size: 15px;
}
/*Bot Messages*/
.user_message, .bot_message{
    width: 67%;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    margin: auto;
    margin-top:5px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user_message{
    background-color: greenyellow;
    margin-right: 0px;
}
  
.bot_message{
    background-color:beige;
    margin-left: 5px;
}

#user_point{
    display: none;
}

#popup{
    position: absolute;
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 20px;
    z-index: 2;
    background-color: white;
    border-style: solid;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    display: none;
}

@media only screen and (max-width: 768px){
    #bot_button, #start_button{
        margin-left: 5%;
        width: 15%;
        font-size: 14px;    
    }
    #a_button, #i_button{
        width: 15%;
        font-size: 14px;
        right: 4%;   
    }
    #bot_frame{
        margin-left: 25%;
        width: 50%;
    }
}

@media only screen and (max-width: 900px){

}
