<!DOCTYPE html>
<html>
    <head>
        <title>I'm a Celebrity</title>
        <script src="https://kit.fontawesome.com/d539734335.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <link href={{ url_for('static', filename='css/styles.css') }} rel="stylesheet"/>
    </head>
    <body>
        <div id='WebContainer'>
            <!--Header & Buttons-->
            <img src="/static/images/logo.png" alt="tcd logo" id="tcdLogo">
            <div id='title'>I'm a Celebrity</div>
            <button v-on:click="show_answer_field" id="answer_button">Guess Who<i class="fas fa-question"></i></button>
            <div id='guess_popup'>
                <input v-model='user_answer' placeholder="Your Guess" id='guess'>
                <button v-on:click='check_guess' id='check_user_guess'>Submit</button>
                <button v-on:click='close_guess' id='cancel'>Close</button>
                <button v-on:click='reveal_persona' id='show_persona'>Show Persona</button>
                <p id='response'></p>
            </div>
            <button id='feedback_button'><a href='https://forms.gle/cc2UGa8EBqvEHUvH9' target='_blank'>Give Feedback</a></button>
            <button v-on:click="get_persona" id='bot_button'>Get Personality <i class="fas fa-brain"></i></button>
            <button v-on:click="start_bot" id='start_button'>Start Bot <i class="fas fa-robot"></i></button>
            <!--Bot Start-->
            <div id='bot_frame'>
                <div id='bot_body'>
                    <div id='messages'></div>
                </div>
                <div id='user_input'>
                    <input v-model='bot_input' id='input' placeholder="Send Message">
                    <button v-on:click="reply_to_bot" id='send'><i class="fas fa-chevron-circle-right"></i></button>
                </div>
            </div>
            <!--Bot End-->
        </div>
        <script>
            var app = new Vue({
                el: '#WebContainer',
                data: {
                    bot_input: '',
                    user_answer: '',
                },
                methods: {
                    start_bot: startBot,
                    get_persona: get_persona,
                    reply_to_bot: reply_to_bot,
                    append_messages: append_messages,
                    show_answer_field: showGuess,
                    check_guess: checkGuess,
                    close_guess: closeGuess,
                    reveal_persona: revealPersona,
                }
            });
            
            let current_key = '';
            let this_answer = '';
            let answers = {
                "shane": ["Shane Dawson", "shane dawson"],
                "ariana": ["Ariana Grande", "ariana grande"],
                "trump": ["Donald Trump", "donald trump"],
                "kim": ["Kim Kardashian", "kim kardashian"],
                "kylie": ["Kylie Jenner", "kylie jenner"],
                "zendaya": ["zendaya", "Zendaya"],
                "justin": ["Justin Bieber", "justin bieber"]
            };

            let bot_initialised = false;
            let has_persona = false;
            let this_persona = ''

            function revealPersona(){
                let response = document.getElementById('response');
                response.innerHTML = answers[current_key][0];
            }

            function showGuess(){
                let response = document.getElementById('response');
                response.innerHTML = "";
                let popup = document.getElementById('guess_popup');
                popup.style.display = 'block';
            }

            function closeGuess(){
                let popup = document.getElementById('guess_popup');
                popup.style.display = 'none';
            }

            function checkGuess(){
                this_answer = this.user_answer;
                let response = document.getElementById('response');
                let options = answers[current_key];
                for(let i = 0; i < options.length; i++){
                    if(this_answer.localeCompare(options[i] == 0)){
                        response.innerHTML = 'Correct!';
                        console.log("user answer correct");
                        return;
                    }
                }
                response.innerHTML = 'Nope! Try again.';
                console.log("user answer incorrect");
            }

            function startBot(){
                if(bot_initialised == false){
                    append_messages("Give me a second...", true);
                    console.log("Starting Bot...");
                    fetch('/start_bot').then(function(response){
                        return response.json();
                    }).then(function(json){
                        console.log(json);
                        if(json.status = "Bot Successfully Started"){
                            bot_initialised = true;
                            append_messages("I'm ready! Get me a personality.", true);
                        }
                        else{
                            append_messages("Oh, something doesn't feel right. Try starting me up again.", true);
                        }
                        
                    });
                }
                else{
                    append_messages("Hey, I'm awake you don't need to press that!", true);
                }
            }

            function get_persona(){
                if(has_persona){
                    append_messages("New personality coming right up!", true);
                }
                has_persona = false;
                if(bot_initialised){
                    console.log("get_persona Called...");
                    fetch('/get_persona').then(function(response){
                        return response.json();
                    }).then(function(json){
                        if(json.status == 'success'){
                            has_persona = true;
                            current_key = json.key;
                            //append_messages(json.persona, true);
                            this_persona = json.persona;
                            append_messages("Okay I'm ready. Let's Chat", true);
                        }
                    });
                }
                else{
                    append_messages("Opps! You forgot to start me up. Please click 'Start Bot'.", true);
                }
            }

            function reply_to_bot(){
                append_messages(this.bot_input, false);
                if(has_persona){
                    fetch('/reply_to_bot', {
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        method: 'POST',
                        body: JSON.stringify({
                            "user_reply" : this.bot_input
                        })
                    }).then(function(response){
                        return response.json();
                    }).then(function(json){
                        append_messages(json.reply, true);
                    });
                }
                else{
                    append_messages("I am not ready yet. I need a persona.", true);
                }
                
            }

            function append_messages(text, isBot){
                let messages = document.getElementById("messages");
                let new_message = document.createElement("div");
                let newP = document.createElement("p");
                let newSpan = document.createElement("span");
                let pointEnd = document.createElement("span");
                new_message.setAttribute("class", "message_parent");
                if(isBot){
                    newP.setAttribute("class", "bot_message");
                    pointEnd.setAttribute("id", "bot_point");
                }
                else{
                    newP.setAttribute("class", "user_message");
                    pointEnd.setAttribute("id", "user_point");
                }
                newSpan.setAttribute("class", "this_message");
                newSpan.innerHTML = text;
                newP.appendChild(newSpan);
                newP.appendChild(pointEnd);
                new_message.appendChild(newP);
                messages.appendChild(new_message);
                $("#bot_body").animate({ scrollTop: $("#bot_body")[0].scrollHeight }, 200);
            }

            //Send on Enter
            let input = document.getElementById('input');
            input.addEventListener("keyup", function(event){
                if(event.keyCode === 13){
                    document.getElementById('send').click();
                    input.value = "";
                }
            });
        </script>
    </body>
</html>